.about{
    display: flex;
    flex-direction: column;
    padding: 15vh 0;
    height: 100vh;
}

.about .name{
    order: 1;
}

.about .name .greetings{
    display: block;
    text-align: center;
    font-size: 1.8vh;
    padding-top: 5vh;
}

.about .name .raka{
    text-align: center;
    font-size: 4.5vh;
    margin: 0;
}

.about .name .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .name .wrap .lines{
    width: 6.5vh;
}

.about .name .wrap .lines .line{
    border-bottom: #EFEFEF80 solid 1px;
    margin-right: 1vh;
}

.about .name .wrap .surname .setyadireza{
    margin: 0;
    font-size: 3vh;
}

.about .name .freshgraduate{
    display: flex;
    justify-content: center;
    padding: 1.5vh 0;
}


.about .name .freshgraduate label{
    border: #EFEFEF80 solid 1px;
    padding: 1vh 5.7vh;
    font-size: 2vh;
}

.about .name .my-interest{
    display: block;
    text-align: center;
    font-size: 2vh;
    font-weight: 400;
    padding: 3vh 0;
}

.about .name .interests{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.about .name .interests .interest{
    border-right: #EFEFEF80 solid 1px;
    padding-right: 1vh;
}

.about .name .interests .interest label{
    font-size: 1.8vh;
}

.about .image{
    border-left: white solid 1px;
    border-right: white solid 1px;
    order: 0;
    text-align: center;
}

.about .image img{
    width: 30vh;
    border-radius: 999px;
}

.about .introduce{
    order: 2;
}

.about .introduce h4{
    text-align: center;
    margin: 0;
    padding-top: 6vh;
    padding-bottom: 1vh;
}

.about .introduce p{
    font-size: 1.8vh;
    text-align: center;
    width: 75%;
    margin: auto;
}

.about .introduce .creativity label{
    display: block;
    text-align: center;
    margin: 0;
    font-size: 2vh;
    font-weight: 400;
    padding-top: 5vh;
}

.about .introduce .creativity p{
    margin: 0;
    font-size: 1.8vh;
    width: 100%;
}

@media(min-width: 720px){
    .about{
        flex-direction: row;
        letter-spacing: 0.1vh;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    .about .name{
        order: 0;
        padding-top: 10vh;
        margin: 0 auto;
    }

    .about .name .greetings{
        text-align: left;
        font-weight: 200;
    }

    .about .name .raka{
        text-align: left;
        font-size: 5vh;
        font-weight: 500;
    }

    .about .name .wrap{
        justify-content: start;
    }
    
    .about .name .wrap .lines{
        width: 12.8vh;
    }

    .about .name .wrap .surname .setyadireza{
        font-size: 2.5vh;
        font-weight: 500;
    }

    .about .name .freshgraduate{
        justify-content: start;
    }
    
    .about .name .my-interest{
        text-align: left;
    }
    
    .about .name .interests{
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .about .image{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        width: 40%;
        border: none;
    }

    .about .image img{
        width: 35vh;  
    }

    .about .introduce{
        order: 2;
        width: 30%;
        padding-left: 5vh;
        padding-top: 10vh;
    }

    .about .introduce h4{
        text-align: left;
    }
    
    .about .introduce p{
        text-align: left;
        margin: 0;
        width: 90%;
        font-size: 2vh;
        font-weight: 200;
    }

    .about .introduce .creativity{
        border-left: #EFEFEF80 solid 1px;
        margin-top: 8vh;
    }
    
    .about .introduce .creativity label{
        text-align: left;
        padding: 0;
        padding-left: 2vh;
    }
    
    .about .introduce .creativity p{
        text-align: left;
        padding-left: 2vh;
    }
}


@media (min-width: 1024px){
    .about .name{
        padding-top: 5vh;
    }

    .about .name .greetings{
        font-size: 2.2vh;
    }

    .about .name .raka{
        font-size: 6.5vh;
    }

    .about .name .wrap .lines{
        width: 18vh;
    }

    .about .name .wrap .surname .setyadireza{
        font-size: 3vh;
        font-weight: 500;
    }

    .about .name .freshgraduate label{
        padding: 1.5vh 10.3vh;
        margin-top: 3vh;
        margin-bottom: 1vh;
        font-size: 2.2vh;
    }

    .about .name .interests{
        gap: 2.5vh;
    }

    .about .name .interests .interest{
        padding-right: 2.4vh;
    }

    .about .name .my-interest{
        font-size: 2.2vh;
    }

    .about .name .interests .interest label{
        font-size: 2vh;
    }

    .about .image img{
        width: 40vh;
    }

    .about .introduce{
        padding-top: 8vh;
    }

    .about .introduce h4{
        font-size: 3.5vh;
    }
    
    .about .introduce p{
        text-align: left;
        margin: 0;
        width: 100%;
        font-size: 2vh;
        font-weight: 200;
        line-height: 22px;
    }

    .about .introduce .creativity label{
        font-size: 2.2vh;
    }
    
    .about .introduce .creativity p{
        font-size: 2vh;
    }
}