@import url(layout.css);

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #111111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
    font-family: 'Satoshi', sans-serif;
    color: #EFEFEF;
    font-weight: 600;
}

h2{
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 600;
}

h3{
    font-family: 'Satoshi', sans-serif;
    color: #EFEFEF;
    font-weight: 400;
}

h4{
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 600;
    font-size: 3vh;
}

h5{
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 400;
    font-size: 2vh;
}

p{
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 200;
}

button{
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 500;
}

label{
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 200;
}
