@media (min-width: 376px) and (max-width: 767px){

    h1{
        font-family: 'Satoshi', sans-serif;
        color: #EFEFEF;
        font-weight: 600;
    }
    
    h2{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 600;
    }
    
    h3{
        font-family: 'Satoshi', sans-serif;
        color: #EFEFEF;
        font-weight: 400;
    }
    
    h4{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 600;
        font-size: 3vh;
    }
    
    h5{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 400;
        font-size: 2vh;
    }
    
    p{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 200;
    }

    button{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 500;
    }
    
    label{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 200;
    }
    
    /* NAVBAR */

    .navbar-desktop{
        display: none;
    }

    .navbar-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3vh;
    }

    .navbar-mobile .logo h3{
        font-size: 2.5vh;
    }

    .navbar-mobile .burger img{
        width: 4vh;
    }

    /* HOME */

    .home{
        height: 76.7vh;
    }

    .home .title{
        margin-top: 15vh;
    }

    .home .title h1{
        text-align: center;
        font-size: 4.5vh;
    }

    .home .text p{
        text-align: center;
        font-size: 1.8vh;
        width: 70%;
        margin: auto;
    }

    .home .button{
        text-align: center;
        margin-top: 10vh;
        
    }

    .home .button button{
        border: #EFEFEF solid 1px;
        background-color: transparent;
        padding: 1.2vh 2.2vh;
        border-radius: 999px;
        font-size: 1.8vh;
    }

    .home .say-hello{
        position: absolute;
        bottom: 10px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .home .say-hello label{
        font-family: 'Satoshi', sans-serif;
        color: #EFEFEF;
        font-weight: 500;
        font-size: 1.8vh;
    }

    .home .say-hello .icons .icon{
        display: inline-block;
        background-color: #212121;
        padding: 2vh 2.2vh;
        border-radius: 999px;
        margin: 0 0.8vh;
        margin-top: 2vh;
    }

    .home .say-hello .icons .icon img{
        width: 3vh;
    }

    .sliders{
        display: none;
    }

    /* ABOUT */

    .about{
        display: flex;
        flex-direction: column;
        padding: 15vh 0;
        height: 120vh;
    }

    .about .name{
        order: 1;
    }

    .about .name .greetings{
        display: block;
        text-align: center;
        font-size: 1.8vh;
        padding-top: 5vh;
    }

    .about .name .raka{
        text-align: center;
        font-size: 4.5vh;
        margin: 0;
    }

    .about .name .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .name .wrap .lines{
        width: 6.5vh;
    }

    .about .name .wrap .lines .line{
        border-bottom: #EFEFEF80 solid 1px;
        margin-right: 1vh;
    }

    .about .name .wrap .surname .setyadireza{
        margin: 0;
        font-size: 3vh;
    }

    .about .name .freshgraduate{
        display: flex;
        justify-content: center;
        padding: 1.5vh 0;
    }


    .about .name .freshgraduate label{
        border: #EFEFEF80 solid 1px;
        padding: 1vh 5.7vh;
        font-size: 2vh;
    }

    .about .name .my-interest{
        display: block;
        text-align: center;
        font-size: 2vh;
        font-weight: 400;
        padding: 3vh 0;
    }

    .about .name .interests{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }

    .about .name .interests .interest{
        border-right: #EFEFEF80 solid 1px;
        padding-right: 1vh;
    }

    .about .name .interests .interest label{
        font-size: 1.8vh;
    }

    .about .image{
        order: 0;
        text-align: center;
    }

    .about .image img{
        width: 30vh;
        border-radius: 999px;
    }

    .about .introduce{
        order: 2;
    }

    .about .introduce h4{
        text-align: center;
        margin: 0;
        padding-top: 6vh;
        padding-bottom: 1vh;
    }

    .about .introduce p{
        font-size: 1.8vh;
        text-align: center;
        width: 75%;
        margin: auto;
    }

    .about .introduce .creativity label{
        display: block;
        text-align: center;
        margin: 0;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 5vh;
    }

    .about .introduce .creativity p{
        margin: 0;
        font-size: 1.8vh;
        width: 100%;
    }

    /* PORTOFOLIO */

    .portofolio{
        padding: 15vh 3vh;
        height: 100vh;
        max-width: 450px;
        margin: auto;
    }

    .portofolio button{
        border: #EFEFEF solid 1px;
        background-color: transparent;
        padding: 1.2vh 2.2vh;
        border-radius: 999px;
        font-size: 1.5vh;
    }

    .portofolio .cards .card{
        display: flex;
        justify-content: center;
        gap: 4px;
        margin: 4vh 0;
    }

    .portofolio .cards .card .card-image img.desktop{
        display: none;
    }


    .portofolio .cards .card .card-image img.mobile{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 4vh;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    .portofolio .cards .card .card-content{
        background-color: #222222;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 1vh 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .portofolio .cards .card .card-content .tags{
        display: inline-flex;
        font-size: 1vh;
        border: #EFEFEF solid 1px;
        border-radius: 999px;
        padding: 0.2vh 1vh;
        margin-top: 1vh;
    }

    .portofolio .cards .card .card-content .title{
        padding: 0;
        margin: 0;
    }

    .portofolio .cards .card .card-content .title h5{
        padding: 0;
        margin: 0;
        font-size: 2vh;
        font-weight: 500;
        padding-top: 1.4vh;
    }

    .portofolio .cards .card .card-content .description p{
        padding: 0;
        margin: 0;
        font-size: 1.5vh;
        padding-top: 0.5vh;
        padding-bottom: 2vh;
    }

    .portofolio .cards .card .card-content .description p label{
        display: none;
    }

    .portofolio .cards .card .card-content .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .portofolio .cards .card .card-content .footer .seen label,
    .portofolio .cards .card .card-content .footer .seen label label.show{
        padding: 0;
        margin: 0;
        font-size: 1.5vh;
        font-weight: 500;
    }

    .portofolio .cards .card .card-content .footer .seen label label.hidden,
    .portofolio .cards .card .card-content .footer .seen p.hidden,
    .portofolio .cards .card .card-content .footer .like p.hidden{
        display: none;
    }

    .portofolio .cards .card .card-content .footer .like label{
        padding: 0;
        margin: 0;
        font-size: 1.5vh;
        font-weight: 500; 
        
    }

    .portofolio .cards .card .card-content .footer .button button{
        background-color: transparent;
        border: #EFEFEF solid 1px;
        padding: 0.6vh 1vh;
        padding-top: 0.7vh;
        font-size: 1.5vh;
        border-radius: 999px;
    }
}