@media (min-width: 1024px) and (max-width: 1199px){
    body{
        letter-spacing: 0.1vh;
    }
    
    h1{
        font-family: 'Satoshi', sans-serif;
        color: #EFEFEF;
        font-weight: 600;
    }

    h2{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 600;
    }

    h4{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 600;
        font-size: 3vh;
    }
    
    h5{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 400;
        font-size: 2vh;
    }

    p{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 200;
    }

    button{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 500;
    }

    label{
        font-family: 'Poppins', sans-serif;
        color: #EFEFEF;
        font-weight: 200;
    }

    a{
        font-family: 'Poppins', sans-serif;
        list-style: none;
        color: #EFEFEF;
        text-decoration: none;
        font-weight: 300;
        font-size: 1.8vh;
    }

    /* NAVBAR */

    .navbar-mobile{
        display: none;
    }

    .navbar-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5vh;
        width: 100%;
    }

    .navbar-desktop .logo h3{
        font-family: 'Satoshi', sans-serif;
        color: #EFEFEF;
        font-weight: 500;
        font-size: 3vh;
        padding-bottom: 0.3vh;
    }

    .navbar-desktop .list ul{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 2vh;
    }

    .navbar-desktop .list ul li{
        list-style: none;
    }


    /* HOME */

    .home{
        height: 100vh;
        padding: 0 10vh;
    }

    .home .title{
        margin-top: 13vh;
    }

    .home .title h1{
        font-weight: 700;
        font-size: 7.4vh;
        text-align: left;
        margin: 0;
    }

    .home .text p{
        margin: 0;
        text-align: left;
        padding-top: 2.5vh;
        width: 80%;
        font-size: 2vh;
        font-weight: 300;
        letter-spacing: 0.1vh;
    }

    .home .button{
        text-align: left;
        margin-top: 5.5vh;
    }

    .home .button button{
        background-color: transparent;
        border: #EFEFEF solid 1px;
        border-radius: 999px;
        font-size: 2vh;
        font-weight: 400;
        padding: 1.5vh 2.5vh;
    }

    .home .say-hello{
        display: flex;
        align-items: center;
        margin-top: 5vh;
    }

    .home .say-hello label{
        font-weight: 500;
        font-size: 1.8vh;
        margin-right: 2vh;
    }

    .home .say-hello .icons{
        display: flex;
        gap: 1.5vh;
    }
    
    .home .say-hello .icons .icon{
        background-color: #212121;
        padding: 1vh 1.8vh;
        padding-top: 1.8vh;
        border-radius: 999px;
        margin: 0;
    }
    
    .home .say-hello .icons .icon img{
        width: 2.5vh;
    }

    .sliders {
        display: block;
        position: absolute; /* Slider sebagai background */
        top: 10vh;
        left: 0;
        width: 100%;
        height: 90vh; /* Menutupi bagian atas sebagai background */
        z-index: -1; /* Di belakang konten lain */
        overflow: hidden;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
      
    /* Penataan posisi horizontal tiap slider */
    .slider-1 {
        position: absolute;
        left: 10%; /* Di kiri */
    }
    .slider-2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .slider-3 {
        position: absolute;
        right: 10%; /* Di kanan */
    }
      
    /* Membuat kontainer dalam tiap slider untuk duplikasi konten */
    .slider-inner {
        display: flex;
        flex-direction: column;
    }
      
    /* Animasi kontinu */
    .slider-1 .slider-inner,
    .slider-3 .slider-inner {
        animation: slide-down 10s linear infinite;
    }

    .slider-2 .slider-inner {
        animation: slide-up 10s linear infinite;
    }
      
    /* Untuk slider-1 dan slider-3 (gerak ke bawah) */
    @keyframes slide-down {
        0%   { transform: translateY(-50%); }
        100% { transform: translateY(0); }
    }
    
    /* Untuk slider-2 (gerak ke atas) */
    @keyframes slide-up {
        0%   { transform: translateY(0); }
        100% { transform: translateY(-50%); }
    }
  
      
    /* Styling untuk gambar slider */
    .item img {
        width: 19vh; /* Sesuaikan ukuran gambar */
        height: auto;
        display: block;
        opacity: 10%;
        filter: blur(5px) grayscale(100%);
        margin-top: 5vh;
    }      

    /* ABOUT */

    .about{
        display: flex;
        flex-direction: column;
        padding: 15vh 0;
        height: 100vh;
    }

    .about .name{
        order: 1;
    }

    .about .name .greetings{
        display: block;
        text-align: center;
        font-size: 2vh;
        padding-top: 5vh;
    }

    .about .name .raka{
        text-align: center;
        font-size: 6vh;
        margin: 0;
    }

    .about .name .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .name .wrap .lines{
        width: 15.5vh;
    }

    .about .name .wrap .lines .line{
        border-bottom: #EFEFEF80 solid 1px;
        margin-right: 1vh;
    }

    .about .name .wrap .surname .setyadireza{
        margin: 0;
        font-size: 3vh;
    }

    .about .name .freshgraduate{
        display: flex;
        justify-content: center;
        padding: 1.5vh 0;
    }


    .about .name .freshgraduate label{
        border: #EFEFEF80 solid 1px;
        padding: 2vh 10.5vh;
        font-size: 2vh;
        margin-top: 1vh;
    }

    .about .name .my-interest{
        display: block;
        text-align: center;
        font-size: 2.5vh;
        font-weight: 400;
        padding: 4.5vh 0;
    }

    .about .name .interests{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5vh;
    }

    .about .name .interests .interest{
        border-right: #EFEFEF80 solid 1px;
        padding-right: 2vh;
    }

    .about .name .interests .interest label{
        font-size: 2vh;
    }

    .about .image{
        order: 0;
        text-align: center;
    }

    .about .image img{
        width: 40vh;
        border-radius: 999px;
    }

    .about .introduce{
        order: 2;
    }

    .about .introduce h4{
        text-align: center;
        margin: 0;
        padding-top: 10vh;
        padding-bottom: 2vh;
    }

    .about .introduce p{
        font-size: 2vh;
        text-align: center;
        width: 75%;
        margin: auto;
    }

    .about .introduce .creativity label{
        display: block;
        text-align: center;
        margin: 0;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 10vh;
    }

    .about .introduce .creativity p{
        margin: 0;
        font-size: 2vh;
        width: 100%;
    }

    /* PORTOFOLIO */

    .portofolio{
        padding: 0 3vh;
        height: 100vh;
        margin: auto;
        margin-top: 80vh;
        letter-spacing: 0.1vh;
    }

    .portofolio button{
        border: #EFEFEF solid 1px;
        background-color: transparent;
        font-size: 2vh;
        font-weight: 400;
        padding: 1.5vh 2.5vh;
        border-radius: 999px;
        font-size: 2vh;
        margin-top: 1vh;
    }

    .portofolio .cards .card{
        display: flex;
        justify-content: center;
        gap: 4px;
        margin: 4vh 0;
    }

    .portofolio .cards .card .card-image img.mobile{
        display: none;
    }

    .portofolio .cards .card .card-image img.desktop{
        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 10vh;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    .portofolio .cards .card .card-content{
        background-color: #222222;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 2vh 2.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .portofolio .cards .card .card-content .tags{
        display: inline-flex;
        font-size: 1.5vh;
        border: #EFEFEF solid 1px;
        border-radius: 999px;
        padding: 0.2vh 1.5vh;
        margin-top: 1vh;
    }

    .portofolio .cards .card .card-content .title{
        padding: 0;
        margin: 0;
    }

    .portofolio .cards .card .card-content .title h5{
        padding: 0;
        margin: 0;
        font-size: 2.5vh;
        font-weight: 500;
        padding-top: 2.5vh;
    }

    .portofolio .cards .card .card-content .description p{
        padding: 0;
        margin: 0;
        font-size: 2vh;
        font-weight: 200;
        padding-top: 0.5vh;
        padding-bottom: 1vh;
    }

    .portofolio .cards .card .card-content .footer .seen label label.show{
        display: none;
     }

    .portofolio .cards .card .card-content .description p label{
        display: inline;
    }

    .portofolio .cards .card .card-content .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .portofolio .cards .card .card-content .footer .seen,
    .portofolio .cards .card .card-content .footer .like,
    .portofolio .cards .card .card-content .footer .button{
        margin-top: 2vh;
    }

    .portofolio .cards .card .card-content .footer .seen{
        width: 30%;
    }

    .portofolio .cards .card .card-content .footer .like{
        width: 40%;
    }

    .portofolio .cards .card .card-content .footer .seen label{
        font-size: 2vh;
        font-weight: 500; 
    }

    .portofolio .cards .card .card-content .footer .like label{
        padding: 0;
        margin: 0;
        font-size: 2vh;
        font-weight: 500; 
        
    }

    .portofolio .cards .card .card-content .footer .seen label label.hidden{
        display: inline;
        font-size: 2vh;
    }

    .portofolio .cards .card .card-content .footer .seen p.hidden,
    .portofolio .cards .card .card-content .footer .like p.hidden{
        display: inline-block;
        font-size: 2vh;
        margin: 0;
        margin-top: 0.5vh;
        margin-right: 1.5vh;
    }

    .portofolio .cards .card .card-content .footer{
        align-items: normal;
    }
    

    .portofolio .cards .card .card-content .footer .button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .portofolio .cards .card .card-content .footer .button button{
        background-color: transparent;
        border: #EFEFEF solid 1px;
        padding: 1vh 2vh;
        padding-top: 1vh;
        font-size: 1.8vh;
        border-radius: 999px;
    }
}