*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #EEEFF8;
}

/* NAVBAR */

.nav-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    padding: 0 2vh;
    background-color: #EEEFF8;
    color: #171717;
    height: 6vh;
}

.nav-desktop{
    display: none;
}

.nav-mobile h3{
    font-family: 'ClashGrotesk-Regular', sans-serif;
    font-size: 3vh;
}

.nav-mobile img{
    width: 4vh;
}

/* HOME */

.home{
    margin-top: 20vh;
    padding: 0 2vh;
    color: #171717;
}

.home .top-text p{
    margin: 0;
    font-family: 'Archivo-Regular', sans-serif;
    font-size: 1.8vh;
}

.home .top-text .icons{
    display: none;
}

.home .title h1{
    margin: 0;
    padding: 2vh 0;
    font-family: 'ClashGrotesk-Bold', sans-serif;
    font-size: 7vh;
}

.home .sub-title p{
    margin: 0;
    font-family: 'Archivo-Light', sans-serif;
    font-size: 2.4vh;
}

.home .button button{
    margin-top: 7vh;
    font-family: 'ClashGrotesk-Regular', sans-serif;
    background-color: #2D2D39;
    color: #EEEFF8;
    padding: 1.5vh 3vh;
    border: none;
    border-radius: 100vh;
    font-size: 2vh;
}

@media (min-width: 768px){
    /* NAVBAR */
    
    .nav-mobile{
        height: 8vh;
    }
    
    .nav-mobile h3{
        font-size: 3.5vh;
    }
    
    .nav-mobile img{
        width: 5vh;
    }

    /* HOME */

    .home{
        margin-top: 18vh;
    }

    .home .top-text{
        display: flex;
    }

    .home .top-text .left{
        margin-right: 2vh;
        font-size: 2.1vh;
    }

    .home .top-text .right{
        margin-left: 2vh;
        font-size: 2.1vh;
    }

    .home .top-text .icons{
        display: flex;
    }

    .home .top-text .rows{
        display: flex;
        align-items: center;
        padding: 0 1vh;
    }

    .home .top-text .rows-hidden{
        display: none;
    }

    .home .top-text .rows img{
        width: 3vh;
    }

    .home .top-text .rows label{
        font-family: 'ClashGrotesk-Medium', sans-serif;
        font-size: 2.5vh;
        margin-left: 1vh;
    }

    .home .title h1{
        font-size: 10vh;
    }

    .home .sub-title p{
        font-size: 3vh;
    }

    .home .button button{
        padding: 2vh 3.5vh;
        font-size: 2.5vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape){
    /* NAVBAR */
    
    .nav-mobile{
        display: none;
    }

    .nav-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 99;
        top: 0;
        padding: 7vh;
        background-color: #EEEFF8;
        color: #171717;
        height: 6vh;
    }
    
    .nav-desktop h3{
        font-family: 'ClashGrotesk-Regular', sans-serif;
        font-size: 4vh;
        letter-spacing: 1px;
    }

    .nav-desktop ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        list-style: none;
    }

    .nav-desktop ul li{
        text-decoration: none;
        margin: 0 0.7vh;
    }

    .nav-desktop button{
        border-radius: 100px;
        padding: 1.8vh 4vh;
        font-family: 'ClashGrotesk-Regular';
        font-size: 2.5vh;
        letter-spacing: 1px;
    }
    
    .nav-desktop .cv img{
        width: 3.5vh;
        margin: 0 2vh;
    }

    .nav-desktop .cv button{
        padding: 1vh;
        border: none;
        background-color: #EEEFF8;
    }

    .nav-desktop .get-touch button{
        border: none;
        background-color: #2D2D39;
        color: #EEEFF8;
    }

    .nav-desktop .menu button{
        border: none;
        background-color: #EEEFF8;
    }

    /* HOME */

    .home{
        padding: 0 16vh;
        margin-top: 21vh;
    }

    .home .top-text{
        display: flex;
        align-items: center;
    }

    .home .top-text .left{
        margin-right: 3vh;
        font-size: 2.5vh;
    }

    .home .top-text .right{
        margin-left: 3.5vh;
        font-size: 2.5vh;
    }

    .home .top-text .icons{
        display: flex;
    }

    .home .top-text .rows,
    .home .top-text .rows-hidden{
        display: flex;
        align-items: center;
        padding: 0 2vh;
    }

    .home .top-text .rows img,
    .home .top-text .rows-hidden img{
        width: 3vh;
    }

    .home .top-text .rows label,
    .home .top-text .rows-hidden label{
        font-family: 'ClashGrotesk-Medium', sans-serif;
        font-size: 3.5vh;
        margin-left: 1vh;
    }

    .home .title h1{
        font-family: 'ClashGrotesk-Medium', sans-serif;
        font-size: 15vh;
        padding: 3vh 0;
        letter-spacing: 3px;
    }

    .home .sub-title p{
        font-size: 3.5vh;
    }

    .home .button button{
        padding: 2vh 3.5vh;
        font-size: 2.5vh;
        letter-spacing: 1px;
    }
}

@media (min-width: 1280px) and (orientation: landscape){
    /* NAVBAR */

}