@import url(global.css);

@media (min-width: 1024px){
    nav{ 
        max-width: 1024px;
        margin: auto;

        .navbar-desktop{
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10vh;

            .logo{
                h3{
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }

            .list{
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3rem;

                    a{
                        font-size: 1rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    
    main {
        padding: 0 10vh;
        max-width: 1024px;
        margin: auto;

        .home{
            align-items: start;
            text-align: left;
            padding: 0 4rem;
            height: 90vh;
    
            .sliders{
                display: block;
                position: absolute;
                max-width: 1140px;
                top: 10vh;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                height: 80vh;
                z-index: -1;
                overflow: hidden;
                mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
                -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            
                .slider-1{
                    position: absolute;
                    left: 10%;

                    .slider-inner {
                        display: flex;
                        flex-direction: column;
                        animation: slide-down 10s linear infinite;
                    }
                }

                .slider-2 {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                
                    .slider-inner {
                        display: flex;
                        flex-direction: column;
                        animation: slide-up 10s linear infinite;
                    }
                }

                .slider-3 {
                    position: absolute;
                    right: 10%;

                    .slider-inner {
                        display: flex;
                        flex-direction: column;
                        animation: slide-down 10s linear infinite;
                    }
                }

                .slider-1, .slider-2, .slider-3{
                    .slider-inner{
                        .item img {
                            width: 21rem;
                            height: auto;
                            display: block;
                            opacity: 10%;
                            filter: blur(5px) grayscale(100%);
                            margin-top: 5vh;
                        } 
                    }
                }
            }
    
            .title{
                height: 45%;
                padding-top: 3rem;

                h1{
                    font-size: 4rem;
                    font-weight: 600;
                    margin: 0;
                }
            }
    
            .text{
                
                height: 25%;

                p{
                    width: 75%;
                    padding: 0;
                    margin: 2rem 0;
                    font-size: 1rem;
                }
            }
    
            .button{
                
                height: 15%;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                button{
                    font-size: 1rem;
                    font-weight: 300;
                    padding: 0.8rem 1.5rem;
                }
            }
    
            .say-hello{
                
                height: 15%;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                padding-top: 7rem;
                padding-bottom: 1.5rem;
    
                label{
                    text-align: center;
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }
    
                .icons{
                    display: flex;
                    gap: 0.7rem;
                    padding-bottom: 1rem;
    
                    .icon{
                        background-color: #212121;
                        border-radius: 99px;
                        padding: 0.4rem 0.8rem;
    
                        img{
                            margin: 0;
                            padding: 0;
                            padding-top: 0.3rem;
                            width: 1rem;
                        }
                    }
                }
            }
        }
    
        .about{
            max-width: 1024px;
            margin: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            padding: 25vh 0;
            

            .name{
                width: 32.5%;
                order: 0;
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                
    
                .greetings{
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
    
                    label{
                        font-size: 1rem;
                        text-align: left;
                    }
                }
    
                h2.raka{
                    font-size: 2rem;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                }
    
                .wrap{
                    display: flex;
                    justify-content: start;
                    text-align: left;
                    gap: 0.5rem;
                    margin: 0;
                    padding: 0;
    
                    .lines{
                        width: 4rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
    
                        .line{
                            border-bottom: #EFEFEF solid 1px;
                        }
                    }
    
                    .surname{
                        h2.setyadireza{
                            font-size: 1.1rem;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
    
                .freshgraduate{
                    margin-top: 1.5rem;
                    margin-bottom: 3rem;
                    text-align: left;

                    label{
                        font-size: 1rem;
                        border: #EFEFEF solid 1px;
                        padding: 0.5rem 2.5rem;
                    }
                }
    
                label.my-interest{
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 2.5rem;
                    text-align: left;
                }
    
                .interests{
                    display: flex;
                    justify-content: start;
                    text-align: left;
                    gap: 1rem;
    
                    .interest{
                        border-right: #EFEFEF solid 1px;
    
                        label{
                            margin-right: 1rem;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
    
            .image{
                order: 1;
                margin-top: 5rem;
                width: 35%;
                padding-right: 4rem;
    
                img{
                    width: 100%;
                    border-radius: 999px;
                }
            }
    
            .introduce{
                order: 2;
                width: 32.5%;
    
                h4{
                    font-size: 1.5rem;
                    margin-top: 4rem;
                    margin-bottom: 0;
                    text-align: left;
                }
    
                p{
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    text-align: left;
                }
    
                .creativity{
                    margin-top: 3rem;
                    border-left: #EFEFEF solid 1px;
                    padding-left: 1rem;
                    text-align: left;

                    label{
                        font-size: 1rem;
                        font-weight: 400;
                    }
    
                    p{
                        font-size: 0.9rem;
                        margin-top: 0;
                    }
                }
            }
        }
    
        .portofolio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 0;
            min-height: auto;
            padding: 0;

            h4{
                font-size: 1.5rem;
                text-align: left;
            }
    
            .cards{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;
    
                .card{
                    display: flex;
                    flex-direction: row;
                    gap: 0.3rem;
    
                    .card-image{
                        img.mobile{
                           display: none;
                        }
    
                        img.desktop{
                            display: inline-block;
                            object-fit: cover;
                            object-position: left;
                            border-top-left-radius: 0.7rem;
                            border-bottom-left-radius: 0.7rem;
                            width: 10rem;
                            height: 100%;
                        }
                    }
    
                    .card-content{
                        background-color: #222222;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 0.7rem;
                        border-bottom-right-radius: 0.7rem;
                        padding: 1.5rem;
    
                        .tags{
                            text-align: left;
    
                            label{
                                border: #EFEFEF solid 1px;
                                border-radius: 999px;
                                font-size: 0.8rem;
                                padding: 0.2rem 1rem;
                            }
                        }
    
                        .title{
                            h5{
                                font-size: 1.5rem;
                                text-align: left;
                                margin-top: 1.3rem;
                                margin-bottom: 0.5rem;
                            }
                        }
    
                        .description{
                            p{
                                font-size: 1rem;
                                text-align: left;
                                margin: 0;
                                padding: 0;
                            }
                        }
    
                        .footer{
                            display: flex;
                            justify-content: center;
                            align-items: start;
                            margin-top: 1.5rem;
                            gap: 1.5rem;
                            
                            .seen, .like{
                                display: flex;
                                flex-direction: column;
                                width: 40%;

                                label{

                                    font-size: 1rem;
                                    text-align: left;
                                    font-weight: 400;
                                }
    
                                p.mobile{
                                    display: none;
                                }
    
                                p.desktop{
                                    display: block;
                                    font-size: 1rem;
                                    text-align: left;
                                    margin: 0;
                                }
                            }
    
                            .button{
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                width: 30%;

                                .nothing{
                                    padding: 1.5rem;
                                }
                                
                                .desktop{
                                    width: 100%;
                                    height: 100%;

                                    button{
                                        display: inline-block;
                                        width: 100%;
                                        font-size: 1rem;
                                        padding: 0.5rem 1rem;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
    
                        .mobile{
                            display: none;
                        }
                    }
                }
            }
    
            .projects{
                button{
                    margin-top: 4rem;
                    font-size: 1rem;
                    padding: 0.8rem 2rem;
                    font-weight: 300;
                }
            }
        }

        .skill{
            padding: 0;

            h4{
                font-size: 1.5rem;
            }

            .cards{
                gap: 2rem;
    
                .card{
                    width: calc(100% / 3 - 1.34rem);
                    background-color: #222222;
                    border-radius: 0.5rem;
                    text-align: center;
                    padding: 2rem;
    
                    .icon{
                        img{
                            width: 4rem;
                        }
                    }
    
                    .icon-no-filter{
                        img{
                            width: 4rem;
                        }
                    }
    
                    .title{
                        h5{
                            font-size: 1.4rem;
                        }
                    }
    
                    .text{
                        p{
                            font-size: 1rem;
                        }
                    }
                }
    
            }
        }

        .experience{
            padding: 0;
            display: flex;
            justify-content: space-between;

            h4{
                font-size: 4rem;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                margin: 0;
                padding: 0;
            }
    
            .text{
                .sub-desktop{
                    display: block;
                    text-align: right;

                    label{
                        font-size: 1.2rem;
                        font-weight: 400;
                    }
                }
    
                p{
                    opacity: 0.5;
                    text-align: center;
                    padding: 0;
                    font-size: 1rem;

                    img{
                        width: 0.8rem;
                    }
                }
            }
        }

        .contact{
            padding: 0;
    
            .image{
                img{
                    width: 15%;
                }
            }
    
            .email{  
                margin-bottom: 8rem;

                .text{
                    label{
                        font-size: 1rem;
                    }
                }
            }
    
            .icons{
                display: flex;
                justify-content: end;
                padding-bottom: 2rem;
                gap: 1rem;
            }
    
    
        }
    }
}