html{
    font-size: 14px;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    letter-spacing: 1px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #111111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'Satoshi', sans-serif;
    color: #EFEFEF;
    font-weight: 600;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 600;
}

h3 {
    font-family: 'Satoshi', sans-serif;
    color: #EFEFEF;
    font-weight: 400;
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 600;
    font-size: 1.5rem; /* 3vh → 1.5rem */
}

h5 {
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 600;
    font-size: 1.3rem; /* 2vh → 1rem */
}

p {
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 200;
}

button {
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 500;
    background-color: transparent;
    border: #EFEFEF solid 1px;
    border-radius: 99px;
    padding: 0.7rem 1rem;
}

label {
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 200;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    font-weight: 200;
}

a:active{
    color: #205A92;
}

a:hover{
    color: #549bdd;
    cursor: pointer;
}

button:hover{
    background-color: #205A92;
    border: #205A92 solid 1px;
    cursor: pointer;
}

button:active{
    background-color: #0a2e50;
    border: #0a2e50 solid 1px;
    cursor: pointer;
}

/* ANIMASI */

@keyframes slide-down {
    0%   { transform: translateY(-50%); }
    100% { transform: translateY(0); }
}

@keyframes slide-up {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}