@import url(global.css);

@media (min-width: 768px){
    nav{
        .navbar-mobile{
            display: none;
        }
        
        .navbar-desktop{
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5vh;

            .logo{
                h3{
                    font-size: 2.5vh;
                }
            }

            .list{
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3rem;

                    a{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    
    main {
        padding: 0 5vh;

        .home{
            align-items: start;
            text-align: left;
            padding: 0 3rem;
    
            .sliders{
                display: block;
                position: absolute;
                top: 10vh;
                left: 0;
                width: 100%;
                height: 80vh;
                z-index: -1;
                overflow: hidden;
                mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
                -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            
                .slider-1{
                    position: absolute;
                    left: 10%;

                    .slider-inner {
                        display: flex;
                        flex-direction: column;
                        animation: slide-down 10s linear infinite;
                    }
                }

                .slider-2 {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                
                    .slider-inner {
                        display: flex;
                        flex-direction: column;
                        animation: slide-up 10s linear infinite;
                    }
                }

                .slider-3 {
                    position: absolute;
                    right: 10%;

                    .slider-inner {
                        display: flex;
                        flex-direction: column;
                        animation: slide-down 10s linear infinite;
                    }
                }

                .slider-1, .slider-2, .slider-3{
                    .slider-inner{
                        .item img {
                            width: 12rem;
                            height: auto;
                            display: block;
                            opacity: 10%;
                            filter: blur(5px) grayscale(100%);
                            margin-top: 5vh;
                        } 
                    }
                }
            }
    
            .title{
                h1{
                    font-size: 4rem;
                    font-weight: 700;
                    margin: 0;
                }
            }
    
            .text{
                height: 20%;
    
                p{
                    padding-top: 1rem;
                    font-size: 1.3rem;
                }
            }
    
            .button{
                height: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                button{
                    font-size: 1.3rem;
                    padding: 0.7rem 1.5rem;
                }
            }
    
            .say-hello{
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                padding-top: 7rem;
    
                label{
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }
    
                .icons{
                    display: flex;
                    gap: 0.7rem;
                    padding-bottom: 1rem;
    
                    .icon{
                        background-color: #212121;
                        border-radius: 99px;
                        padding: 0.8rem 1rem;
    
                        img{
                            margin: 0;
                            padding: 0;
                            width: 1.5rem;
                        }
                    }
                }
            }
        }
    
        .about{
            
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 0 3vh;
    
            .name{
                
                order: 1;
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
    
                .greetings{
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
    
                    label{
                        font-size: 1.1rem;
                    }
                }
    
                h2.raka{
                    font-size: 3.5rem;
                    margin: 0;
                    padding: 0;
                }
    
                .wrap{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    gap: 0.5rem;
                    margin: auto;
    
                    .lines{
                        width: 6.9rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
    
                        .line{
                            border-bottom: #EFEFEF solid 1px;
                        }
                    }
    
                    .surname{
                        h2.setyadireza{
                            font-size: 2rem;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
    
                .freshgraduate{
                    margin-top: 2.2rem;
                    margin-bottom: 5rem;

                    label{
                        font-size: 1.3rem;
                        border: #EFEFEF solid 1px;
                        padding: 1rem 5.4rem;
                    }
                }
    
                label.my-interest{
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 2.5rem;
                }
    
                .interests{
                    display: flex;
                    justify-content: center;
                    text-align: left;
                    gap: 1rem;
    
                    .interest{
                        border-right: #EFEFEF solid 1px;
    
                        label{
                            margin-right: 1rem;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
    
            .image{
                order: 0;
                margin-top: 5rem;
    
                img{
                    width: 20rem;
                    border-radius: 999px;
                }
            }
    
            .introduce{
                order: 2;
    
                h4{
                    font-size: 2.2rem;
                    margin-top: 5rem;
                    margin-bottom: 0;
                }
    
                p{
                    font-size: 1.3rem;
                    margin-top: 0.5rem;
                }
    
                .creativity{
                    margin-top: 3rem;
                    label{
                        font-size: 1.3rem;
                        font-weight: 400;
                    }
    
                    p{
                        font-size: 1.1rem;
                        margin-top: 0;
                    }
                }
            }
        }
    
        .portofolio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10rem;
            min-height: auto;
            padding: 0 3vh;

            h4{
                font-size: 2.2rem;
            }
    
            .cards{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;
    
                .card{
                    display: flex;
                    flex-direction: column;
                    gap: 0rem;
    
                    .card-image{
                        img.mobile{
                            width: 100%;
                            object-fit: cover;
                            object-position: top;
                            border-top-right-radius: 0.7rem;
                            border-top-left-radius: 0.7rem;
                        }
    
                        img.desktop{
                            display: none;
                        }
                    }
    
                    .card-content{
                        background-color: #222222;
                        border-bottom-left-radius: 0.7rem;
                        border-bottom-right-radius: 0.7rem;
                        padding: 1.5rem;
    
                        .tags{
                            text-align: left;
    
                            label{
                                border: #EFEFEF solid 1px;
                                border-radius: 999px;
                                font-size: 1rem;
                                padding: 0.2rem 1rem;
                            }
                        }
    
                        .title{
                            h5{
                                font-size: 2rem;
                                text-align: left;
                                margin-top: 1.3rem;
                                margin-bottom: 0.5rem;
                            }
                        }
    
                        .description{
                            p{
                                font-size: 1.3rem;
                                text-align: left;
                                margin: 0;
                                padding: 0;
                            }
                        }
    
                        .footer{
                            display: flex;
                            justify-content: start;
                            align-items: start;
                            margin-top: 1.5rem;
                            gap: 5rem;
                            
                            .seen, .like{
                                label{
                                    font-size: 1.5rem;
                                    text-align: left;
                                    font-weight: 400;
                                }
    
                                p.mobile{
                                    font-size: 1.3rem;
                                    text-align: left;
                                    margin: 0;
                                }
    
                                p.desktop{
                                    display: none;
                                }
                            }
    
                            .button{
                                .desktop{
                                    button{
                                        display: none;
                                    }
                                }
                            }
                        }
    
                        .mobile{
                            text-align: left;
                            margin-top: 2rem;
                            
                            button{
                                width: 100%;
                                font-size: 1.3rem;
                                padding: 1rem 2rem;
                            }
                        }
                    }
                }
            }
    
            .projects{
                button{
                    margin-top: 4rem;
                    font-size: 1.3rem;
                    padding: 1rem 2rem;
                }
            }
        }

        .skill{
            padding: 0 3vh;

            h4{
                font-size: 2.2rem;
            }

            .cards{
                gap: 2rem;
    
                .card{
                    width: calc(50% - 1rem);
                    background-color: #222222;
                    border-radius: 0.5rem;
                    text-align: center;
                    padding: 2rem;
    
                    .icon{
                        img{
                            width: 4rem;
                        }
                    }
    
                    .icon-no-filter{
                        img{
                            width: 4rem;
                        }
                    }
    
                    .title{
                        h5{
                            font-size: 2rem;
                        }
                    }
    
                    .text{
                        p{
                            font-size: 1.3rem;
                        }
                    }
                }
    
            }
        }

        .experience{
            padding: 0 3vh;

            h4{
                font-size: 2.2rem;
            }
    
            .text{
                p{
                    padding: 31rem 0;
                    font-size: 1.3rem;
                }
            }
        }

        .contact{
            padding: 0 3vh;
    
            .image{
                display: flex;
                flex-wrap: wrap; /* Ini yang memungkinkan item turun ke baris berikutnya */
                align-items: flex-end;
                
                img{
                    width: 30%;
                    margin-bottom: 0;
                }
    
                h1{
                    display: block;
                    font-size: 4rem;
                    font-weight: 700;
                    margin-left: 1rem;
                }
            }
    
            h1.mobile{
                display: none;
            }

            h1{
                text-align: left;
                font-size: 4rem;
                font-weight: 700;
            }
    
            .email{
                margin-top: 5rem;
                margin-bottom: 12rem;
                display: flex;
                gap: 1rem;
    
                .text{
                    label{
                        border: #EFEFEF solid 1px;
                        border-radius: 999px;
                        padding: 0.5rem 1rem;
                        font-size: 1.3rem;
                    }
                }

                .lines{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .line-top{
                        width: 100%;
                        border-bottom: #EFEFEF solid 1px;
                        height: 1.3rem;
                    }

                    .line-bot{
                        width: 100%;
                        height: 1rem;
                    }
                }
            }
    
            .icons{
                display: flex;
                justify-content: end;
                padding-bottom: 3rem;
                gap: 1rem;
            }
    
    
        }
    }
}